.Cart{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 700px;
    min-height: 300px;
    max-height: 80vh;
    padding: 1.5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Cart__title{
    margin-bottom: 2rem;
}
.Cart__list{
    padding: 1rem;
    max-height: 250px;
    overflow: auto;
}
.Cart__controls{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}