.Header{
    height: 14vh;
    background: #297B34;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Header__btn{
    cursor: pointer;
    border: white solid 2px;
    margin: 0 1rem;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    color: #297B34;
    background: white;
}
.Header__btn:hover{
    color: white;
    background: transparent;
}